body {
  background-color: rgb(39, 39, 39);
  margin: 0;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*header*/

.headrer {
  overflow: hidden;
  background: rgba(15, 15, 15, 0.5);
  height: 100px;
  margin: 0 0 35px 0;
  display: flex;
  justify-content: space-around;
}
.headrer img {
  height: 100px;
  margin-left: -225px;
}
.headrer a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(12, 206, 232);
}

.headrer a:hover {
  text-shadow: 10px rgb(12, 206, 232);
  color: rgb(39, 39, 39);
}

.headrer ul {
  margin-right: -225px;
  list-style: none;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.headrer ul li {
  margin: 20px 10px 0 10px;
}

/*MAIN NCONTENT*/
.padding-main {
  padding: 32px 10%;
}

.main {
  min-height: calc(100vh - 300px);
}

.about {
  text-align: center;
}

.about-colored {
  background-color: #472f1d7c;
}

.about h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: white;
}

.about p {
  font-size: 1rem;
  max-width: 800px;
  margin: 0 auto;
  color: white;
}

.about-info {
  margin: 3rem 0;
  display: grid;
  column-gap: 32px;
  grid-template-columns: 500px 1fr;
}

.about-colored .about-info {
  margin: 3rem 0;
  display: grid;
  column-gap: 32px;
  grid-template-columns: 1fr 500px;
}

.about-img img {
  width: 100%;
  border-radius: 30px;
}

.about-info p {
  font-size: 1.3rem;
  text-align: justify;
  margin-bottom: 2rem;
}

.about-info .about-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.about-colored .about-info .about-content {
  align-items: flex-start;
}

.about-info .contact-us {
  text-decoration: none;
  font-size: 18px;
  padding: 12px 24px;
  /*VOJFOHEGFVHBDEJKJFWIOFBHDFVHSKBVH*/
  color: #fff;
  background-color: rgb(12, 206, 232);
  color: #000000;
  border-radius: 50px;
  cursor: pointer;
}

.about-info .contact-us:hover {
  cursor: pointer;
  background-color: rgb(39, 39, 39);
  color: white;
  border: 2px solid rgb(12, 206, 232);
  border-radius: 25px;
  box-shadow: rgba(12, 206, 232, 0.3) 5px 8px 18px 8px;
}

/*team cards*/

.team {
  padding: 100px 50px;
  text-align: center;
}

.team h1 {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-top: 70px;
}

.card {
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(12, 206, 232, 0.7);
  transition: 0.5s;
  padding: 20px 26px;
}

.card:hover {
  transform: scale(1.1);
}

.card-img {
  border-radius: 100%;
  border: 3px solid rgb(12, 206, 232);
  width: 10rem;
}

.card-name {
  color: white;
  font-size: 1.2rem;
  margin: 10px 0;
}

.card-role {
  color: white;
  font-size: 0.9rem;
  margin: 5px 0;
}

.card-email {
  font-size: 1rem;
  color: #ffffff;
}
/*footer*/

footer {
  background: rgba(15, 15, 15, 0.5);
  color: #fff;
  margin-bottom: -10;
  padding-bottom: 0;
}

.footer__container {
  margin-top: 15px;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: #fff;
  align-items: normal;
  justify-content: space-around;
}
.footer a {
  text-decoration: none;
  color: rgb(12, 206, 232);
}

.footer a:hover {
  color: aliceblue;
  transition: all ease 0.3s;
}

.footer__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}
.footer__link--items {
  font-size: 1.5rem;
  padding-top: none;
  padding-right: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f5f0f0;
  font-size: 1.2rem;
}

.footer__social--links {
  display: flex;
  color: aqua;
  font-size: 2rem;
  margin-right: 2rem;
  gap: 15px;
}

.footer__social--links i:hover {
  color: aliceblue;
  transition: ease 0.3s;
  cursor: pointer;
}

.footer__git {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-top: 30px; */
  font-size: 1.5rem;
  gap: 15px;
}
