/*bg style*/

body {
  background-color: rgb(39, 39, 39);
  margin: 0;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*header*/

.headrer {
  overflow: hidden;
  background: rgba(15, 15, 15, 0.5);
  height: 100px;
  margin: 0 0 35px 0;
  display: flex;
  justify-content: space-around;
}
.headrer img {
  height: 100px;
  margin-left: -225px;
}
.headrer a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(12, 206, 232);
}

.headrer a:hover {
  text-shadow: 10px rgb(12, 206, 232);
  color: rgb(39, 39, 39);
}

.headrer ul {
  margin-right: -225px;
  list-style: none;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.headrer ul li {
  margin: 20px 10px 0 10px;
}

/*search*/

input[type="text"] {
  width: 75%;
  margin-left: 120px;
  margin-bottom: 30px;
  float: center;
  padding: 6px;
  border: 3px solid rgb(12, 206, 232);
  background-color: rgba(0, 0, 0, 0.212);
  font-size: 17px;
  color: azure;
}
.srcBtn {
  height: 33px;
  width: 5%;
  margin-left: -4px;
  margin-bottom: 35px;
}
/*main content*/

.products {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
  border-radius: 10px;
  margin: 10px 45px 80px 118px;
}

.single-product {
  width: 325px;
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(12, 206, 232);
  /*#10e8a7;*/
  border-radius: 20px;
  top: 150px;
  overflow: hidden;
  left: 50%;
  box-shadow: rgba(12, 206, 232, 0.3) 5px 8px 18px 8px;
  /*rgba(129, 255, 146, 0.3) 5px 8px 18px 8px;*/
  background-color: rgb(102, 102, 102);
}

.products img {
  height: 150px;
}

.game-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.game-data h3 {
  align-self: center;
}
.game-data span {
  align-self: center;
}
.game-data button {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  height: 30px;
  width: 75%;
  align-self: center;
  background-color: rgb(12, 206, 232);
  /* #10e8a7;*/
  border-radius: 10px;
}

.game-data button:hover {
  transition: all ease 0.3s;
  background-color: rgb(62, 55, 100);
  cursor: pointer;
  color: azure;
}

.loadMoreProducts {
  margin-top: 5px;
  margin-bottom: 25px;
  width: 18%;
  font-weight: bold;
  height: 80px;
  align-self: center;
  background: none;
  border: none;
  color: #fff;
  font-size: 25px;
}

.loadMoreProducts:hover {
  cursor: pointer;
  color: rgb(12, 206, 232);
  border: 2px solid rgb(12, 206, 232);
  border-radius: 25px;
  box-shadow: rgba(12, 206, 232, 0.3) 5px 8px 18px 8px;
}

/*footer*/

footer {
  background: rgba(15, 15, 15, 0.5);
  color: #fff;
  margin-bottom: -10;
  padding-bottom: 0;
}

.footer__container {
  margin-top: 15px;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: #fff;
  align-items: normal;
  justify-content: space-around;
}
.footer a {
  text-decoration: none;
  color: rgb(12, 206, 232);
}

.footer a:hover {
  color: aliceblue;
  transition: all ease 0.3s;
}

.footer__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}
.footer__link--items {
  font-size: 1.5rem;
  padding-top: none;
  padding-right: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f5f0f0;
  font-size: 1.2rem;
}

.footer__social--links {
  display: flex;
  color: aqua;
  font-size: 2rem;
  margin-right: 2rem;
  gap: 15px;
}

.footer__social--links i:hover {
  color: aliceblue;
  transition: ease 0.3s;
  cursor: pointer;
}

.footer__git {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-top: 30px; */
  font-size: 1.5rem;
  gap: 15px;
}
