/*bg style*/

body {
  background-color: rgb(39, 39, 39);
}

/*main content*/

.products {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
  border-radius: 10px;
  margin: 10px 45px 10px 80px;
}

.single-product {
  width: 325px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(129, 255, 146, 0.3) 5px 18px 24px 8px;
  background-color: rgb(102, 102, 102);
}

.products img {
  height: 250px;
}

.game-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.game-data h3 {
  align-self: center;
}
.game-data span {
  align-self: center;
}
.game-data button {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 75%;
  height: 30px;
  align-self: center;
}
